body {
  margin: 15px 0 10px 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -30px 0 -20px 0;
  background-color: #0b1445;
}

.header .logo img {
  height: 130px;
  width: auto;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0 25px 0 0;
  padding: 0;
}

.nav ul li {
  margin-left: 40px;
}

.nav ul li a {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}
.nav ul li a:hover {
  color: antiquewhite;
}
.nav ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0%;
  height: 3px;
  background-color: aqua;
  transition: all 0.2s;
}
.nav ul li a:hover::before {
  width: 100%;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 50px;
  background-image: url("https://t3.ftcdn.net/jpg/04/91/81/78/360_F_491817812_xvw3622RBh4NuP7NerHUYfQaWNB2jQqS.jpg");
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  height: 290px;
}

.hero-content {
  max-width: 600px;
}

.hero-content h2 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content h1 .highlight {
  color: #00c2ff;
}

.hero-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.hero-image img {
  margin-top: 120px;
  height: 450px;
  width: 720px;
  box-shadow: 0 9px 19px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.img1 img {
  height: 400px;
  width: 502px;
  border: 3px solid black;
}
.img1 {
  margin-top: 106px;
  margin-left: 56px;
  margin-right: 823px;
  right: 600px;
}
.con1 {
  position: absolute;
  margin-top: -405px;
  margin-left: 656px;
  margin-right: 56px;
  padding: 20px;
}
.con1 p {
  padding-top: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #42414b;
  font-size: 20px;
}
.con1 h3 {
  text-align: center;
  font-size: 32px;
  color: #242426;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hr1 {
  margin-top: 95px;
}

.img2 img {
  height: 400px;
  width: 502px;
  border: 3px solid black;
}

.img2 {
  margin-top: 106px;
  margin-left: 930px;
}
.con2 {
  position: absolute;
  margin-top: -405px;
  margin-right: 656px;
  margin-left: 56px;
  padding: 20px;
}
.con2 p {
  padding-top: 10px;
  color: #42414b;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.con2 h3 {
  text-align: center;
  font-size: 32px;
  color: #242426;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
