* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  margin: 0;
}

.faq1 {
  padding: 20px 100px 10px 120px;
  position: relative;
  background-image: url(https://img.freepik.com/premium-photo/questions-marks-black-background-with-copy-space-3d-render_46250-3085.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: flex-start;
}
.headings h5 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 6px;
  color: coral;
}
.headings h1 {
  font-size: 45px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 3px;
}
.headings p {
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
  color: lightgray;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: justify;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  color: #555;
  margin-bottom: 20px;
}

body {
  background-color: black;
  color: white;
}

.para {
  color: white;
}

.faq-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-question {
  cursor: pointer;
  position: relative;
}

.faq-question::after {
  content: "\25BC";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2em;
}

.faq-answer {
  display: none;
  color: white;
}
